/**
 * Colors:
 *   Red: FF4945
 *   Green: 8CDD67
 *   Yellow: FBD536
 *   Blue: 81E3FC
 */

/**
 * Main styles for Commitalization
 */
body {
    background-color: #333333;
}

a,
a:visited {
    color: #CC33FF;
    text-decoration: none;
}
a:hover,
a:visited:hover {
    color: #CC33FF;
    text-decoration: underline;
}

header {
    background-color: #333333;
    padding: 10px;
    height: 70px;
}

h1 {
    font-size: 3.7em;
    color: #121212;
    display: inline;
    line-height: 70px;
}

h2 {
    font-size: 1em;
    color: #B3B3B3;
    display: inline;
    margin-left: 10px;
}

h2 a {
    color: #E2E2E2 !important;
}

#main {
    min-height: 300px;
    width: 100%;
    background-color: #1F1E1D;
}

footer {
    background-color: #333333;
    height: 70px;
    padding: 10px;
}

/**
 * Regular commit styles
 */
#commit-container {
    padding-top: 10px;
    padding-left: 10px;
}
#commit-container .commit {
    padding: 10px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #595959;
    color: #222222;
    font-size: 1.5em;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 250px;
    float: left;
}

#commit-container .commit:hover {
    background-color: #828282;
}

#commit-container .commit .commit-commits-container {
    display: none;
}


#commit-container .commit .commit-recieved {
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 100px;
    font-size: .45em;
    float: right;
    background-color: #333333;
    color: #FFFFFF;
    padding: 5px;
    text-align: center;
}

#commit-container .commit .commit-project {
    font-weight: bold;
    font-size: 1.4em;
    margin-bottom: 10px;
}

#commit-container .commit .commits-title {
    color: #444444;
    margin: 0;
    font-weight: bold;
    font-size: .6em;
    display: block;
}

#commit-container .commit .commit-commits {
    background-color: #444444;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
    font-size: .6em;
    margin-bottom: 10px;
    display: block;
}

#commit-container .commit .commit-message {
    font-size: 1.3em;
    color: #AAAAAA;
    display: block;
}

#commit-container .commit a.commit-author {
    color: #F5B800;
}

#commit-container .commit a.commit-message {
    color: #33CCFF;
}

/**
 * Lates styles
 */

#commit-container .commit-latest {
    width: 530px;
    background-color: #BBBBBB;
    box-shadow: inset 0 0 10px #000000;
    -moz-box-shadow: inset 0 0 10px #000000;
}

#commit-container .commit-latest .commit-commits-container {
    display: block;
}

#commit-container .commit-latest .commit-project {
    font-size: 2.4em;
}

#commit-container .commit-latest .commit-recieved {
    font-size: .65em;
}

#commit-container .commit-latest .commits-title {
    font-size: .8em;
}

/**
 * Statues container
 */
#status-container {
    width: 300px;
    float: right;
    font-size: 1em;
    font-weight: bold;
    color: #EEEEEE;
}

#status-label {
    display: block;
    text-align: right;
    width: 80px;
    float: left;
    padding: 10px;
}

#status-current {
    padding: 10px;
    background-color: #111111;
    display: block;
    float: right;
    width: 170px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/**
 * Clearfix
 */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}