/**
 * Colors:
 *   Red: FF4945
 *   Green: 8CDD67
 *   Yellow: FBD536
 *   Blue: 81E3FC
 */

/**
 * Main styles for Commitalization
 */
body {
    background-color: #212121;
}

a,
a:visited {
    color: #CC33FF;
    text-decoration: none;
}
a:hover,
a:visited:hover {
    color: #CC33FF;
    text-decoration: underline;
}

header {
    background-color: #333333;
    width: 100%;
}

h1 {
    font-size: 3.7em;
    display: inline;
    line-height: 70px;
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
}
h1,
h1 a, 
h1 a:hover,
h1 a:visited,
h1 a:visited:hover {
    color: #EEEEEE;
    text-decoration: none;
}

h2 {
    font-size: 1em;
    color: #B3B3B3;
    float: right;
    clear: both;
    padding-top: 5px;
    margin: 0 20px 20px 0;
    
}

h2 a {
    color: #E2E2E2 !important;
}

#main {
    min-height: 300px;
    width: 100%;
    background-color: #1F1E1D;
}

footer {
    background-color: #212121;
    height: 70px;
    padding: 10px 20px 40px 20px;
    font-size: 1em;
    font-weight: bold;
    color: #EEEEEE;
}

/**
 * Regular commit styles
 */
#commit-container {
    padding-top: 10px;
    padding-left: 10px;
}
#commit-container .commit {
    padding: 10px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #595959;
    color: #222222;
    font-size: 1.5em;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 250px;
    float: left;
}

#commit-container .commit:hover {
    background-color: #828282;
}

#commit-container .commit .commit-commits-container {
    display: none;
}


#commit-container .commit .commit-recieved {
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 100px;
    font-size: .45em;
    float: right;
    background-color: #333333;
    color: #FFFFFF;
    padding: 5px;
    text-align: center;
}

#commit-container .commit .commit-project {
    font-weight: bold;
    font-size: 1.4em;
    margin-bottom: 10px;
    
  text-shadow: rgba(0,0,0,0.2) -1px 0, rgba(0,0,0,0.2) 0 -1px, rgba(67,67,67,0.2) 0 1px, rgba(0,0,0,0.2) -1px -1px;
}

#commit-container .commit .commits-title {
    color: #444444;
    margin: 0;
    font-weight: bold;
    font-size: .6em;
    display: block;
}

#commit-container .commit .commit-commits {
    background-color: #444444;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
    font-size: .6em;
    margin-bottom: 10px;
    display: block;
}

#commit-container .commit .commit-message {
    font-size: 1.3em;
    color: #AAAAAA;
    display: block;
}

#commit-container .commit a.commit-author {
    color: #B3B3B3;
}

#commit-container .commit a.commit-message {
    color: #E4E4E4;
}
#commit-container .commit .commit-commit-user {
    width: 35px;
    float: right;
    margin: 0 0 3px 3px;
}

/**
 * Latest styles
 */
#commit-container .commit-latest {
    width: 530px;
    background-color: #BBBBBB;
}

#commit-container .commit-latest .commit-commits-container {
    display: block;
}

#commit-container .commit-latest .commit-project {
    font-size: 2.4em;
}

#commit-container .commit-latest .commit-recieved {
    font-size: .65em;
}

#commit-container .commit-latest .commits-title {
    font-size: .8em;
}

/**
 * Half size
 */
#commit-container .commit.half {
    width: 110px;
}

#commit-container .commit.half .commit-project {
    display: none;
}
#commit-container .commit.half .commits-title {
    text-align: center;
    padding-top: 7px;
    clear: both;
}

/**
 * Project selector
 */
#project-selector {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    padding: 20px 10px;
    -moz-border-radius-bottomleft: 5px;
    border-radius-bottomleft: 5px;
}

#project-selector a {
    display: block;
    width: 10px;
    height: 10px;
    background-color: #FFFFFF;
    margin-bottom: 10px;
    border: 1px solid transparent;
    -moz-border-radius: 5px;
    border-radius: 5px;
    float: right;
    clear: both;
}
#project-selector a.active,
#project-selector a:hover {
    cursor: pointer;
    border: 1px solid #FFFFFF;
}

/**
 * Statues containers
 */
#status-container {
    margin-bottom: 15px;
    width: 100%;
}
#status-container ul {
    list-style-type: none;
}

li.status-label {
    text-align: right;
    width: 80px;
    float: right;
    padding: 10px;
}

li.status-value {
    padding: 10px;
    background-color: #111111;
    float: right;
    width: 90px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/**
 * Footer containers
 */
.footer-container {
    clear: both;
    margin-top: 5px;
    padding-top: 10px;
    margin-bottom: 15px;
    width: 100%;
}

.footer-container ul.palette {
    list-style-type: none;
    clear: both;
}

.footer-container ul.palette.active li,
.footer-container ul.palette.viewing li {
    border: 1px solid #FFFFFF;
}
.footer-container ul.palette.viewing {
    cursor: pointer;
}

.footer-container ul.palette li {
    display: block;
    float: right;
    height: 20px;
    width: 20px;
    margin-right: 3px;
    margin-top: 5px;
    border: 1px solid transparent;
}
.footer-container .palette-label {
    display: block;
    float: right;
    margin-right: 10px;
}

.about-project {
    text-align: right;
}
.about-project a,
.about-project a:visited,
.about-project a:hover,
.about-project a:visited:hover {
    color: #AAAAAA;
}

/**
 * Tipsy styles
 */
.tipsy {
    font-size: 1.5em;
    padding: 10px;
    max-width: 350px;
}
.tipsy-inner {
    padding: 10px;
    background-color: black; 
    color: white; 
    max-width: 350px; 
    text-align: center;
}
.tipsy-inner {
    border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
}

/**
 * Demo play button
 */
a.play {
    display: block;
    width: auto;
    color: #FFFFFF;
}
a.play:hover,
a.play:visited:hover {
    color: #FFFFFF;
}

/**
 * Clearfix
 */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}